*.iml
.gradle/
local.properties
local.properties.template.bak
.idea/
.DS_Store
build/
captures/
.externalNativeBuild
.cxx
*.apk
*.aab
*.keystore
keystore.properties
google-services.json
release/
*.log
.kotlin/
